{
  "globals": {},
  // "ecmaFeatures": {
  //   "modules": true,
  //   "spread" : true,
  //   "restParams" : true
  // },
  "env": {
    "browser" : true,
    "node" : true,
    "es6": true
  },
  "extends": [
    "plugin:vue/essential"
  ],
  "rules": {
    // allow async-await
    "generator-star-spacing": "off",
    // allow debugger during development
    "no-debugger": "error",
    "no-multiple-empty-lines": "off",
    "comma-dangle": "off",
    "eol-last": "off",
    "semi": "off",
    "no-unused-vars": "off",
    "no-useless-return": "off",
    "keyword-spacing": "off",
    "space-before-function-paren": "off",
    "no-trailing-spaces": "off",
    "spaced-comment": "off",
    "space-in-parens": "off",
    "indent": "off",
    "eqeqeq": "off",
    "template-curly-spacing": "off",
    "padded-blocks": "off",
    "object-property-newline": "off",
    "camelcase": "off",
    "space-infix-ops": "off",
    "no-useless-computed-key": "off",
    "no-useless-constructor": "off",
    "no-extra-bind": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": [
    "vue"
  ]
}